doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Block 5 
        link(rel="stylesheet", href="./css/style.css")
        script(src="script.js")
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
    body 
        include ./components/aside.pug
        include ./components/header.pug
        include ./components/chart-one-component.pug
        include ./components/form-component.pug 
    