header 
    div.header-box
        label.header_search
            input(
                type="search"
                name='search'
                placeholder="Search"
            )
        ul.header-images
            li.headerimg1
                img(src="../img/headerimg1.jpg", alt="header-img")
            li
                img(src="../img/headerimg2.jpg", alt="header-img")
            li
                img(src="../img/headerimg3.jpg", alt="header-img")
            li.headerimg4
                img(src="../img/headerimg4.jpg", alt="header-img")
            