header 
    div.header-box
        label.header_search
            input(
                type="search"
                name='search'
                placeholder="Search"
            )
        ul.header-images
            li.headerimg1
                img(src="../svg/user1.svg", alt="header-img")
            li
                img(src="../svg/user2.svg", alt="header-img")
            li
                img(src="../svg/user3.svg", alt="header-img")
            li.headerimg4
                img(src="../svg/Color.svg", alt="header-img")
            
            
            
            